<form  method="GET" action="wp.php">
<div>商品名称:<input type="text" name="name"></div>
<div>商品图片:<input type="text" name="pics"></div>
<div>商品介绍:<input type="text" name="info"></div>
<div>上市日期:<input type="text" name="addtime"></div>
<div>商品产地:<input type="text" name="area"></div>
<div>商品型号:<input type="text" name="model"></div>
<div>商品类别:<input type="text" name="class"></div>
<div>商品品牌:<input type="text" name="brand"></div>
<div>库存:<input type="text" name="stock"></div>
<div>已销售:<input type="text" name="sell"></div>
<div>市场价:<input type="text" name="m_price"></div>
<div>会员价:<input type="text" name="v_price"></div>
<div>是否新品:<input type="text" name="isnew"></div>
<div>是否推荐:<input type="text" name="isnom"></div>
<div><input type="submit" value="提交"></div>
</form>
<