<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<script src="js/allnew.js"></script>
</head>
<style>
.img img{
    height:200px;
	width:150px;
}
li.product_list{
	float:left;
	padding-left:40px;
	padding-bottom:50px;
	list-style:none;
}
.clear{
	clear:both;
}
.intro_text{
	width:200px;
}
</style>

<body>

<div id="page_count"></div><div class="clear"></div>
<div class="pages">
页数：<label id="page_f">1</label>/<label id="page_t">{$count}</label>&nbsp&nbsp&nbsp&nbsp
<a href="javascript:void(0);" onclick="allnew(0)">首页</a>&nbsp&nbsp
<a href="javascript:void(0);" onclick="allnew(-1)">
上一页</a>&nbsp&nbsp
<a href="javascript:void(0);" onclick="allnew(1)">
下一页</a>&nbsp&nbsp
<a href="javascript:void(0);" onclick="allnew('{$count}')">
尾页</a></div>
<script>window.onload=allnew(0)</script>
</body>
</html>