<h1>商品详细信息</h1>
<table width="636" id="allnom" align="center" cellspacing="0" cellpadding="0">
<tr>
<td height="33" align="center" valign="middle" >商品名称:{$name}</td>
</tr>
<tr>
<td height="132" align="left" valign="middle">
<table width="722" height="134"  cellspacing="0" cellpadding="0">
<tr>
<td width="258" rowspan="5" align="center" valign="middle></td>
<td height="35"><img src="image/{$pics}" width="247" height="130" /></td>
<td width="207" height="35">商品类别:{$class}</td>
<td width="255">商品型号:{$model}</td>
</tr>
<tr>
<td height="23">商品品牌:{$brand}</td>
<td height="23" colspan="2">商品产地:{$area}</td></tr>
<tr>
<td width="207" height="32">剩余数量:{$stocks}</td>
<td colspan="2">销售数量:{$sell}</td></tr>
<tr>
<td height="23">市场价:{$m_price}</td>
<td height="23">上市日期:{$addtime}</td></tr>
<tr><td height="30">会员价格:{$v_price}</td>
<td height="30" colspan="2" align="center" valign="middle">&nbsp;</td>
</tr>
</table></td>
</tr></table>

<input id="allshow" name="allshow" type="button" value="show" class="show info" onclick="openshowcommo('{$id}')" />
<input id="buy" name="buy" type="button" value="buy" class="buy" onclick="buycommo('{$id}')" />