<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
</head>
<script src="js/login.js"></script>
<body>

<div id="check">

<div class="login-title">用户登陆</div>
	<div class="login-form">
<div>用户名:<input type="text" name="uname" id="uname" onblur="checkuname()"></div>
<div><label id="tname">&nbsp</label></div>
<div>密码&nbsp;&nbsp;:<input type="password" name="pwd" id="upwd" onblur="checkpwd()"></div>
<div><label id="tpwd">&nbsp</label></div>
<div>验证码:<input type="text" name ="verify" id="verify" onblur="checkverify()"></div>
<div><label id="tverify">&nbsp</label></div>
<div><img src="velcode.php" onclick="show()" id="imgcode">
<a href="javascript:void(0)" onclick="show()">换一张</a></div>
 <div><label id="checkuser"></label></div>
 <div>
<a href="http://localhost/shopping/index.php"  onclick="return check()">提交</a>
 <a href="register.php">注册</a></div>
</div>
</div>
<script>
function show(){
	document.getElementById("imgcode").src="velcode.php?id="+Math.random()*100;
}
</script>
</body>
</html>